<button class="btn btn--header btn--accent">Get Started</button>
<a href="#" class="btn btn--header btn--accent">Get Started</a>
<div class="btn-container">
  <button class="btn btn--block btn--outline">Buy now</button>
  <a href="#" class="btn btn--block btn--outline">Buy now</a>
</div>
<button class="btn btn--callout btn--primary">Get Started</button>
<a href="#" class="btn btn--callout btn--primary">Get Started</a>
<button class="btn btn--callout btn--secondary">Get Started</button>
<a href="#" class="btn btn--callout btn--secondary">Get Started</a>
