<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <span
          class="icon-container icon-container--black icon-container--small"
        >
          <svg
            class="icon icon--white icon--arrow collapsible__arrow"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 407.437 407.437"
            xml:space="preserve"
          >
            <polygon
              points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "
            />
          </svg>
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item"><a href="#">WordPress Hosting</a></li>
          <li class="list__item">
            <a href="#">Free Automated WordPress</a>
          </li>
          <li class="list__item"><a href="#">Migrations</a></li>
          <li class="list__item"><a href="#">Domain Names</a></li>
          <li class="list__item"><a href="#">Monthly Web Hosting</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Company</h2>
        <span
          class="icon-container icon-container--black icon-container--small"
        >
          <svg
            class="icon icon--white icon--arrow collapsible__arrow"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 407.437 407.437"
            xml:space="preserve"
          >
            <polygon
              points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "
            />
          </svg>
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item"><a href="#">About</a></li>
          <li class="list__item"><a href="#">Affiliates</a></li>
          <li class="list__item"><a href="#">Blog</a></li>
          <li class="list__item"><a href="#">Careers</a></li>
          <li class="list__item"><a href="#">Community</a></li>
          <li class="list__item"><a href="#">News</a></li>
          <li class="list__item"><a href="#">Green Hosting</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Support</h2>
        <span
          class="icon-container icon-container--black icon-container--small"
        >
          <svg
            class="icon icon--white icon--arrow collapsible__arrow"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 407.437 407.437"
            xml:space="preserve"
          >
            <polygon
              points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "
            />
          </svg>
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item"><a href="#">Contact</a></li>
          <li class="list__item"><a href="#">Knowledge Base</a></li>
          <li class="list__item"><a href="#">Forums</a></li>
          <li class="list__item"><a href="#">System Status</a></li>
          <li class="list__item"><a href="#">Web Hosting</a></li>
          <li class="list__item"><a href="#">DreamCompute</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Domains</h2>
        <span
          class="icon-container icon-container--black icon-container--small"
        >
          <svg
            class="icon icon--white icon--arrow collapsible__arrow"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 407.437 407.437"
            xml:space="preserve"
          >
            <polygon
              points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "
            />
          </svg>
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item"><a href="#">Domain Checker</a></li>
          <li class="list__item"><a href="#">Domain Transfer</a></li>
          <li class="list__item"><a href="#">Free Domain</a></li>
          <li class="list__item"><a href="#">XYZ Domain</a></li>
          <li class="list__item">
            <a href="#">Cheap SSL Certification</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="footer__footer">
      <a class="nav__logo" href="/"><img src="images/logo.svg" alt="" /></a>
      <p class="footer__copyright">Copyright &copy; 2023 Haitham</p>
    </section>
  </div>
</footer>
