<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum soluta vero
    similique. Sequi, nam. Fuga, distinctio velit quaerat rerum assumenda natus
    aut exercitationem itaque ratione, quas, laborum eum excepturi sint.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith</h3>
        <p class="quote__company">Widget Company CEO</p>
      </div>
    </div>
  </footer>
</blockquote>
